header{
    display: block;
}

header nav{
    background: $bg-color;
    display: flex;
    height: 60px;
    logo{
        display: block;
        margin-left: 10px;
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;

        img{
            cursor: pointer;
            height: 40px;
        }
        @media (max-width: 320px) {
            img{
                height: 30px;
            }
        }

    }
    title{
        margin: auto;
        display: block;
        font-size: 30px;
    }

    @media (max-width: 400px) {
        title{
            visibility: hidden;
        }
    }

    search{
        cursor: pointer;
        margin: auto;
        display: block;
        img{
            height: 32px;
        }
    }
    hamburguer{
        cursor: pointer;
        margin: auto;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }

}
