.header{

    &__nav{
        background: color(header);
        color: color(header-text);
        display: flex;
        height: 60px;
    }

    &__logo-container{
        display: block;
        margin-left: 10px;
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__logo{
        cursor: pointer;
        height: 40px;

        @media (max-width: 320px) {
            height: 30px;
        }
    }

    &__search-container{
        cursor: pointer;
        margin: auto;
        display: block;
    }

    &__search{
        height: 32px;
    }

    &__hamburguer-container{
            cursor: pointer;
            margin: auto;
            display: block;
            margin-left: 10px;
            margin-right: 10px;
    }

    &__hamburguer{
        height: 32px;
    }

}
