page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: color(bg);

}

main{
    flex: 1;
}

main-content{
    display: block;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.fadein {
    animation:fade-in 0.5s;
}

.fadeout{
    animation:fade-out 0.5s;
}

@keyframes fade-out {
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
