page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: $bg-color;

}

main{
    flex: 1;
}

main-content{
    display: block;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.animated {
    animation:fade-in 0.5s;
}

@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
