.card-container{
    display: grid;
    grid-template-columns: repeat( auto-fill, 320px );
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (max-width: 320px){
        grid-template-columns: 1fr;
    }
}
