.card{
    @extend %soft-shadow;
    background-color: color(card-bg);
    transition: 0.3s;
    display: grid;
    grid-template-rows: 200px auto;

    &:hover{
        @extend %hard-shadow;
    }

    &__img-container{
        overflow: hidden;
    }

    &__img{
        width: 100%;
    }

    &__content{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    &__body{
        flex:1;
    }

    &__text{
        color: color(light-text);
    }

    &__links{
        display: flex;
    }

    &__button{
        flex:1;

        &:not(:first-child){
            margin-left: 2px;
        }
    }

}
