.download-item{
    @extend %soft-shadow;
    transition: 0.3s;
    display: grid;
    grid-template-columns: 64px 1fr;
    background: color(download-container-bg);

    cursor: pointer;

    &:hover{
        @extend %hard-shadow;
    }

    &__img{
        width: 48px;
        margin:auto;
    }

    &__text{
        color: color(light-text);
    }
}
