$color-marroncito: #803300;
$naranja-empa: #D45500;
$crema-pasada: #FFD6AA;
$gris-claro: #eee;
$gris-oscuro: #444;
$marron: #602000;

$rosa-empa: #df3d48;
$rosa-empa-claro: mix($rosa-empa, #fff, 10%);

$fucsia-empa: #f50044;
$fucsia-empa-claro: lighten($fucsia-empa, 48%);
//$fucsia-empa-oscuro: darken(#f50044,20%);
$fucsia-empa-oscuro: #9e002d;

$colors: (
    main: $fucsia-empa,
    highlight: $naranja-empa,

    bg: $gris-claro,

    header: $rosa-empa,
    header-text: white,

    footer: $rosa-empa,
    footer-text: white,

    border: $rosa-empa,

    card-bg: white,
    download-container-bg: white,

    choice-label: $fucsia-empa,
    choice-border: $fucsia-empa-oscuro,
    choice-text: $gris-oscuro,
    choice-bg: $gris-claro,

    accordion-header-bg: none,
    accordion-header-text: $fucsia-empa,
    accordion-item-bg: none,
    accordion-body-bg: $fucsia-empa-claro,
    accordion-item-text: $fucsia-empa-oscuro,
    accordion-item-hover: $fucsia-empa,

    text: #2B1100,
    light-text: $gris-oscuro,
    hero-text: white,

    soft-shadow: #0003,
    hard-shadow: #0006
);

@function color($name){
    @return map-get($colors, $name);
}

%soft-shadow{
    box-shadow: 3px 3px 10px 3px color(soft-shadow);
}

%hard-shadow{
    box-shadow: 3px 3px 10px 3px color(hard-shadow);
}

%title-font{
    font-family: 'Josefin Sans', sans-serif;
}

%body-font{
    font-family: 'Roboto', sans-serif;
}

%framed{
    overflow: hidden;
    border: 1px solid color(border);
    border-radius: 3px;
}

