@import "/../node_modules/normalize.css/normalize.css";
@import "colors.scss";

*{
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body{
    color: $fg-color;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
    font-family: 'Josefin Sans', sans-serif;
}

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/hero.scss";
@import "layout/main.scss";

@import "components/card.scss";
@import "components/card-container.scss";

@import "components/download-item.scss";
@import "components/download-container.scss";


.text-align-center{
    text-align: center;
}

.btn{
    display: block;
    border-style: solid;
    border-color: $main-color;
    color: $main-color;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 4px;
    text-align: center;
    transition: 0.3s;
}

.btn:hover{
    border-color: $main-hover-color;
    color: $main-hover-color;
}

.main{
    color: $main-color;
}

.search{
    width: 100%;
}


accordion-group{
    display:block;
    accordion-group-header{
        font-family: 'Josefin Sans', sans-serif;
        display: block;
        background-color: $gray2-color;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 32px;
        transition: 0.4s;
        user-select: none;
    }
}

accordion{
    display: block;

    accordion-item{
        display: block;
        accordion-title{
            font-family: 'Josefin Sans', sans-serif;
            display: block;
            background-color: $gray-color;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 25px;
            transition: 0.4s;
            user-select: none;
        }
        accordion-title:after {
            content: '\002B';
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        accordion-title.rolledup:after {
            content: '\2212';
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        accordion-title:hover{
            background-color: $main-hover-color;
        }

        @media (hover: none) {
            accordion-title {
                background-color: $gray-color;
            }
        }

        accordion-body{
            border-right: 2px solid $gray-color;
            border-left: 2px solid $gray-color;
            h1,h2,h3{
                color: $main-color;
            }
            display: flex;
            padding: 0 18px;

            &.hide{
                display: none;
            }

            accordion-body-container{
                display: block;
                width: 100%;
            }
        }
        accordion-body:last-child{
            border-bottom: 2px solid $gray-color;
        }


    }
}

.hr{
    display: block;
    width: 100;
    border-top: 1px solid $gray-color;
    margin-top: 10px;
    margin-bottom: 10px;
}
