@import "/../node_modules/normalize.css/normalize.css";
@import "colors.scss";

*{
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body{
    color: color(fg);
    @extend %body-font;
}

h1,h2,h3{
    @extend %title-font;
    color: color(main);
}

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/hero.scss";
@import "layout/main.scss";

@import "components/card.scss";
@import "components/card-container.scss";

@import "components/download-item.scss";
@import "components/download-container.scss";


.center-text{
    text-align: center;
}

.btn{
    display: block;
    border-style: solid;
    border-color: color(main);
    color: color(main);
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 4px;
    text-align: center;
    transition: 0.3s;

    &:hover{
        border-color: color(highlight);
        color: color(highlight);
    }
}


.search{
    width: 100%;
}


.accordion-group{

    &__header{
        @extend %title-font;
        display: block;
        background-color: color(accordion-header-bg);
        color: color(accordion-header-text);
        font-size: 25px;
        padding: 20px 0px 10px 0px;
        transition: 0.4s;
    }
}

.accordion{
    &__chevron{
        cursor: pointer;
        color: color(accordion-item-text);
        display: inline-block;
        width: 1em;
        font-size: 20px;
        line-height: 1em;
        padding: 0;
        margin-right: 10px;
        margin-left: 10px;
        transition: 0.3s;

        &--closed{

            transform: rotate(90deg);
        }
    }

    &__title{
        @extend %title-font;
        display: inline;
        background-color: color(accordion-item-bg);
        color: color(accordion-item-text);
        cursor: pointer;
        padding: 5px 0px 0px 0px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 24px;
        transition: 0.4s;
        user-select: none;

        &:hover{
            color: color(accordion-item-hover);
        }

        @media (hover: none) {
                background-color: color(accordion-item-bg);
        }
    }


    &__body-container{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        overflow: hidden;
        &--hide{
        }
    }

    &__body{
        padding: 20px;
        display: block;
        width: 100%;
        transition: 1s;

        overflow: hidden;

        &--hide{
            display: none;
        }

        &last-child{

        }

    }
}

.hr{
    display: block;
    width: 100;
    border-top: 1px solid color(main);
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice{
    display: grid;
    grid-row-gap: 0.5em;;
    grid-template-columns: 1fr;
    margin-bottom: 15px;
    @media (max-width: 420px){
        grid-template-columns: 1fr;
    }
    &__label{
        @extend %title-font;
        color: color(choice-label);
        font-size: 24px;
    }
    &__select{
        max-width: 200px;
        background: color(choice-bg);
        color: color(choice-text);
        font-size: 20px;
        border: 2px solid;
        border-radius: 3px 3px 15px 3px;
        border-color: color(choice-border);
        outline: none;
        overflow: hidden;
    }
}
