@import "/../node_modules/normalize.css/normalize.css";
@import "colors.scss";

*{
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body{
    color: color(fg);
    @extend %body-font;
}

h1,h2,h3{
    @extend %title-font;
    color: color(main);
}

@import "layout/header.scss";
@import "layout/footer.scss";
@import "layout/hero.scss";
@import "layout/main.scss";

@import "components/card.scss";
@import "components/card-container.scss";

@import "components/download-item.scss";
@import "components/download-container.scss";

@import "components/accordion.scss";
@import "components/accordion-group.scss";

@import "components/search.scss";

.center-text{
    text-align: center;
}

.btn{
    display: block;
    border-style: solid;
    border-color: color(main);
    color: color(main);
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 4px;
    text-align: center;
    transition: 0.3s;

    &:hover{
        border-color: color(highlight);
        color: color(highlight);
    }
}

.hr{
    display: block;
    width: 100;
    border-top: 1px solid color(main);
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice{
    display: grid;
    grid-row-gap: 0.5em;;
    grid-template-columns: 1fr;
    margin-bottom: 15px;
    @media (max-width: 420px){
        grid-template-columns: 1fr;
    }
    &__label{
        @extend %title-font;
        color: color(choice-label);
        font-size: 24px;
    }
    &__select{
        max-width: 200px;
        background: color(choice-bg);
        color: color(choice-text);
        font-size: 20px;
        border: 2px solid;
        border-radius: 3px 3px 15px 3px;
        border-color: color(choice-border);
        outline: none;
        overflow: hidden;
    }
}
